@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Nunito:300');

html, body {
    font-family: "Gloria Hallelujah", cursive;
}

body {
    background: url("../images/welcome_bg/kindeready-bg-3.png");
}

.easyRead, .modal {
    font-family: 'Nunito', sans-serif;
}

label {
    margin-bottom: 0;
}
.avatar img {
    width: 75%;
}

#studentPane {
    height: 68vh;
}

.userTitle {
    border: 1px solid darkgray;
    border-style: none solid solid solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    box-shadow: 0 8px 6px -6px #000000;
    padding-bottom: 10px;
}

#addStudentBtn {
    text-align: left;
}

#newStudentBtn {
    display: none;
    position: absolute;
    right: 10px;
}

#logoutUserBtn {
    text-align: right;
}

#backToStudents {
    display: none;
    position: absolute;
    right: 10px;
}

#onlyOnDesktop, #desktopOnly {
    display: none;
}

@media screen and (max-width: 991px) {
    #getStartedMsg {
        top: 120px;
    }

    #desktopOnly {
        position: absolute;
        top: 0;
        right: 15px;
        display: block;
        font-size: 0.8rem;
        color: red;
    }
}

@media screen and (max-width: 768px) {

    #loggedInUser {
        display: none;
    }

    #getStartedMsg {
        top: initial;
    }

    #desktopOnly {
        display: none;
    }
}


@media screen and (max-width: 767px) {

    #siteTitle {
        text-align: center;
    }

    #addStudentBtn {
        display: none;
    }

    #logoutUserBtn {
        text-align: center;
    }

    #f1, #f2, #f3 {
        width: 100%;
    }

    .form-check {
        padding: 0;
        margin-bottom: 10px;
    }

    #newStudentBtn {
        display: inline-block;
    }

    #getStartedMsg > p {
        margin-bottom: 0;
    }

    #onlyOnDesktop {
        display: block;
        font-size: 0.8rem;
        color: red;
    }
}

@media screen and (max-width: 480px) {
    .listedStudent {
        font-size: 15px;
    }

    #onlyOnDesktop {
        display: block;
        bottom: 10px;
        font-size: 0.8rem;
        color: red;
    }
}